{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

	<h1 class="text-center">
		{{ title_page }}
	</h1>

	<div class="container">

		{{ form_start(form) }}
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3">
						{{ form_row(form.minSurface) }}
					</div>
					<div class="col-md-3">
						{{ form_row(form.minChambre) }}
					</div>
					<div class="col-md-3">
						{{ form_row(form.minCouchage) }}
					</div>
					<div class="col-md-3">
						{{ form_row(form.submit) }}
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}

	</div>

	<div class="container">
		<div class="row">

			{% for gite in gites %}
				<div class="col-md-3 mt-2">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								{{ gite.nom }}
							</h5>
							<p class="card-text">
								{{ gite.description }} <br>
								{{ gite.surface }} m² - {{ gite.chambre}} ch - {{ gite.couchage}} couch
							</p>
							<a href=" {{ path("gite_show", {id: gite.id}) }}" class="btn btn-primary">Voir le gite</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
