{% extends "dashboard.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	<h1>
		{{ title_page }}
	</h1>

	<div class="form-group">
		<a href=" {{ path("admin_gite_create") }} " class="btn btn-info">Créer nouveau gite</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td>Nom du gite</td>
				<td>Actions</td>
			</tr>
		</thead>
		</tbody>
			{% for gite in gites %}
				<tr>
					<td> {{ gite.id }} </td>
					<td> {{ gite.nom }} </td>
					<td>
						<div class="d-flex col-md-6">
							<a href=" {{ path("admin_gite_edit", {id:gite.id}) }} " class="btn btn-warning mx-auto">Editer</a>
							<form action=" {{ path("admin_gite_delete", {id:gite.id}) }} " method="post" class="mx-auto">							
								<input type="hidden" name="token" value=" {{ csrf_token('gite_delete' ~ gite.id) }} ">
								<input type="submit" class="btn btn-danger" value="Supprimer">
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		<tbody>

	</table>

{% endblock %}
